body {
  margin-top: 10%;
}

.search {
  margin-bottom: 50px;
  width: 67vw;
  margin-left: auto;
  margin-right: auto;
}

.search-panel {
  width: 50vw;
}

.btn {
  width: 10vw;
}

.picture-container {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.img-small {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
}

.img-big {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

@media (min-width: 1001px) {
  .picture-container {
    width: 1000px;
  }
}